{# Here comes the button markup #}

{#
<a class="c-button" href="#">anchor</a>
<button class="c-button">button</button>
#}

<a href="#" class="c-button">default</a>
<a href="#" class="c-button c-button--primary">primary</a>
<a href="#" class="c-button c-button--large">large</a>
<a href="#" class="c-button c-button--small">small</a>
