@import 'class/selector';

/* testroom for selector object class */

// Constructor
$selector: selector--constructor('button', null, 'primary');
$selector: selector--set-block-tag($selector, 'a');
$selector: selector--set-element-tag($selector, 'span');
$selector: selector--append-block-states($selector, 'hover');
$selector: selector--append-element-states($selector, 'active');

@include selector($selector) {
  content: 'button primary';

  // Append a second modifier
  $selector: selector--append-modifier($selector, 'secondary');
  // In order to generate @at-root directive
  $selector: selector--set-is-nested($selector, true);

  @include selector($selector) {
    content: 'button primary and secondary';
  }
}

$selector: selector--set-is-nested($selector, false);
$selector: selector--set-element($selector, 'label');

@include selector($selector) {
  content: 'button label';
}
